$colors: (
  primary: #e6c521,
  black: #000,
  white: #fff,
  tech-blue: #4f7dd9,
  deep-blue: #42629a,
  black-opaque: rgba(0, 0, 0, 0.8)
);

@function color($required) {
  @return map-get($colors, $required);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1em;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

section {
  margin: 1.5rem 0;
  padding: 0 1rem;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.landing {
  position: relative;
  width: 100vw;
  height: 100vh;

  .bg-img {
    position: absolute;
    background-image: url(../images/lappy_compressed.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: inherit;
    height: inherit;
    z-index: -1000;
  }

  .bg-black-shade {
    position: absolute;
    background-color: color(black);
    opacity: 0.7;
    width: inherit;
    height: inherit;
    z-index: -999;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    z-index: 8;

    h3 {
      color: color(primary);
    }

    .nav-lg {
      display: none;
    }

    .menu-btn {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      z-index: 10;

      .menu-btn__burger {
        width: inherit;
        height: 2px;
        background-color: color(white);
        border-radius: 5px;
        transition: all 0.3s ease-in-out;

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: inherit;
          height: 2px;
          background-color: color(white);
          border-radius: 5px;
          transition: all 0.3s ease-in-out;
        }

        &::before {
          transform: translateY(-0.5rem);
        }

        &::after {
          transform: translateY(0.5rem);
        }
      }
    }

    /** ANIMATION */
    .menu-btn.open {
      .menu-btn__burger {
        transform: translateX(-1.6rem);
        background: transparent;

        &::before {
          background-color: color(black);
          transform: rotate(45deg) translate(1rem, -1rem);
        }

        &::after {
          background-color: color(black);
          transform: rotate(-45deg) translate(1rem, 1rem);
        }
      }
    }

    .nav-sm {
      position: absolute;
      width: 50vw;
      height: 100vh;
      top: 0;
      right: 0;
      background-color: color(white);
      visibility: hidden;
      z-index: -10;
  
      ul {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        height: 100%;
        list-style: none;
        padding: 7rem 1rem 0 2rem;
  
        li {
          padding: 0.75rem 0;
  
          a {
            text-decoration: none;
            color: color(black);
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
  
    /** NAV MENU ANIMATION */
    .nav-sm.open {
      visibility: visible;
      z-index: 9;
      transition: all 0.3s ease-out;
    }
  }

  .content {
    color: color(white);
    padding: 5rem 1.25rem 0;

    .line {
      border-bottom: 3px solid color(primary);
      width: 3.7rem;
    }

    .name {
      font-size: 2.5rem;
      font-weight: bold;
      text-transform: uppercase;
      padding-top: 5rem;
    }

    .quote {
      font-size: 1.625rem;
      font-weight: 600;
      padding-top: 10rem;

      span {
        display: block;
        text-transform: uppercase;
      }
    }

    .designation {
      color: color(primary);
      font-size: 1.625rem;
      font-weight: 600;
      text-transform: uppercase;
      padding-top: 5rem;

      + .line {
        border-color: color(white);
      }
    }
  }
}

.projects {
  .cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 0.75rem;

    a {
      color: color(black);
      text-decoration: none;
    }

    .card {
      position: relative;
      border-left: color(primary) solid 5px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      width: 90vw;
      min-height: 20vh;
      margin-bottom: 1rem;

      img {
        display: inline-block;
        width: 35%;
        height: 100%;
        margin-left: 0.5rem;
        padding: 0.25rem 0;
      }

      .card-content {
        position: absolute;
        display: inline-block;
        width: 65%;
        height: 100%;
        top: 0;
        right: 0;
        padding: 0.25rem 0.75rem;

        span {
          display: block;
          padding: 0.5rem 0.25rem;
        }
        .desgination {
          font-size: 0.75rem;
        }
        .client-name {
          font-size: 1rem;
          font-weight: bold;
        }
        .tenure {
          font-size: 0.6rem;
          font-weight: 600;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
        }
      }
    }
  }

  a {
    color: color(deep-blue);
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
  }

  .nav-item {
    span {
      font-weight: 600;
    }

    .arrow-front {
      position: relative;
      padding: 0.75rem 0;
    }

    .arrow-front:before {
      content: "";
      width: 25px;
      height: 2px;
      background: color(deep-blue);
      position: absolute;
      margin-top: -1px;
      right: 2px;
      transition: all 0.3s ease;
    }

    .arrow-front:hover:before {
      right: 12px;
      width: 35px;
    }

    .arrow-front:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-color: transparent transparent transparent color(deep-blue);
      position: absolute;
      margin-top: -5px;
      right: 0;
      transition: all 0.3s ease;
    }

    .arrow-front:hover:after {
      right: 12px;
    }
  }
}

.tech-stack {
  .tech-cards {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;

    .separator {
      display: block;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin-bottom: 0.25rem;
    }

    .tech-card {
      margin-bottom: 1rem;

      .title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0.5rem;

        img {
          filter: invert(0.5) sepia(1) saturate(100) hue-rotate(200deg);
          width: 3rem;
          height: 3rem;
          margin: 0.25rem 0.5rem;
        }

        .img-sm {
          width: 2.5rem;
          height: 2.5rem;
          margin-left: 1rem;
        }

        .ml-1 {
          margin-left: 1rem;
        }

        span {
          color: color(tech-blue);
          font-size: 1.25rem;
          font-weight: bold;
          padding-left: 0.5rem;
        }
      }

      .items {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 0.5rem;

        .item {
          margin: 0 0.25rem 0.5rem 0;
          padding: 0.25rem 1.25rem;
          border-radius: 25px;
          background-color: color(deep-blue);
          color: color(white);
          font-weight: 500;
        }
      }
    }
  }
}

.about-me {
  p {
    font-size: 1rem;
    font-weight: 350;
    text-align: justify;
    text-indent: 2rem;
    padding: 0.5rem 0;
    line-height: 1.5rem;

    strong {
      font-weight: 500;
    }
  }
}

.contact-me {
  .contacts {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 0.75rem;

    .separator {
      display: block;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin: 0.5rem 0;
      width: 100%;
    }

    .contact {
      width: 100%;
      margin-bottom: 0.5rem;

      span {
        font-size: 0.75rem;
        font-weight: 600;
      }

      .medium {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        .media {
          width: 100%;
          a {
            display: inline-block;
            text-decoration: none;
            cursor: pointer;

            span {
              display: inline-block;
              color: color(black);
              font-weight: 600;
              font-size: 1rem;
            }

            img {
              width: 2.5rem;
              height: 2.5rem;
              margin: 0.25rem 0.5rem 0.25rem 0;
              vertical-align: middle;
            }

            .linkedIn {
              filter: invert(0.5) sepia(1) saturate(100) hue-rotate(200deg);
            }
          }
        }
      }

      /* Form Submission */
      .form {
        position: relative;

        .form__group {
          position: relative;
          padding: 0.5rem 1rem 0 0;
          margin-top: 0.5rem;
          width: 100%;

          .form__field {
            width: 100%;
            border: 0;
            border-bottom: 1px solid color(black);
            outline: 0;
            font-size: 1rem;
            color: color(black);
            padding-top: 1rem;
            background: transparent;
            transition: border-color 0.3s;

            &::placeholder {
              color: transparent;
            }

            &:placeholder-shown ~ .form__label {
              font-size: 1rem;
              cursor: text;
              top: 20px;
            }

            &:focus {
              padding-bottom: 0;
              font-weight: normal;
              border-width: 2px;
              border-image: linear-gradient(to right, #11998e, #007268);
              border-image-slice: 1;
            }

            &:focus ~ .form__label {
              position: absolute;
              top: 0;
              display: block;
              transition: 0.3s;
              font-size: 0.75rem;
              color: #11998e;
              font-weight: 600;
            }

            /* reset input */
            &:required,
            &:invalid {
              box-shadow: none;
            }
          }

          .form__label {
            position: absolute;
            top: 0;
            display: block;
            transition: 0.2s;
            font-size: 0.75rem;
            color: color(black);
          }

          .upload {
            display: inline-block;
            width: 1.1rem;
            height: 1.25rem;
          }

          .inputFile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;

            + label {
              font-size: 1rem;
              font-weight: normal;
              color: color(black);
              display: inline-block;
              padding-left: 0.25rem;
            }

            &:focus + label,
            + label:hover {
              color: color(black);
            }
          }

          #fileName {
            font-size: 1rem;
          }

          .btn-submit {
            margin: 0 0.25rem 0.5rem 0;
            padding: 0.25rem 1.25rem;
            text-transform: uppercase;
            border-radius: 25px;
            border: 2px solid color(black);
            background-color: color(white);
            color: color(black);
            font-weight: bold;
            letter-spacing: 1px;

            &:focus {
              cursor: pointer;
              background-color: color(black);
              color: color(white);
              transition: background-color 0.2s ease-out;
            }
          }
        }

        .doc__watermark {
          position: absolute;
          background-image: url(../images/document_text_edit.svg);
          background-repeat: no-repeat;
          top: 0;
          right: 0;
          width: 50vw;
          height: 50vh;
          background-size: 40vw;
          opacity: 0.05;
          z-index: -10;
        }
      }
    }
  }
}

.footer {
  position: relative;
  width: 100vw;
  height: 25vh;
  background-color: color(black);
  color: color(white);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  padding: 0.5rem;
  z-index: -3;

  .logo__watermark {
    position: absolute;
    display: inline-block;
    width: 40%;
    height: 90%;
    font-size: 7rem;
    text-align: center;
    font-weight: bold;
    opacity: 0.1;
    z-index: -2;
  }

  div {
    padding: 0.5rem 0;
    span {
      font-size: 1.25rem;
    }
  }

  .creator {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1.75rem;
  }

  a {
    text-decoration: none;
    color: color(white);
    font-weight: 500;
  }
}

.container {
  position: relative;
  width: 100vw;

  .nav-sm {
    position: absolute;
    width: 70%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: color(black);
    opacity: 0;
    z-index: 9;

    ul {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      height: 100%;
      list-style: none;
      padding: 7rem 1rem 0 2rem;

      li {
        padding: 0.75rem 0;

        a {
          text-decoration: none;
          color: color(white);
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }

  /** NAV MENU ANIMATION */
  .nav-sm.open {
    opacity: 1;
    transition: all 0.3s ease-out;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;

    a {
      text-decoration: none;
    }

    .menu-btn {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      z-index: 10;

      .menu-btn__burger {
        width: inherit;
        height: 2px;
        background-color: color(black);
        border-radius: 5px;
        transition: all 0.3s ease-in-out;

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: inherit;
          height: 2px;
          background-color: color(black);
          border-radius: 5px;
          transition: all 0.3s ease-in-out;
        }

        &::before {
          transform: translateY(-0.5rem);
        }

        &::after {
          transform: translateY(0.5rem);
        }
      }
    }

    /** ANIMATION */
    .menu-btn.open {
      .menu-btn__burger {
        transform: translateX(-1.6rem);
        background: transparent;

        &::before {
          background-color: color(white);
          transform: rotate(45deg) translate(1rem, -1rem);
        }

        &::after {
          background-color: color(white);
          transform: rotate(-45deg) translate(1rem, 1rem);
        }
      }
    }

    .back__btn {
      background-color: color(black);
      color: color(white);
      padding: 0.25rem 1rem 0.25rem 0.75rem;
      font-weight: bold;
      text-align: center;
      border-radius: 25px;

      span {
        font-size: 1.2rem;
        font-weight: bolder;
        padding-right: 0.5rem;
      }
    }
  }

  .client__watermark {
    position: absolute;
    width: 40vw;
    height: 25vh;
    opacity: 0.1;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: -10;
  }

  .client__content {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 90%;
    padding: 1rem;

    h1 {
      font-size: 1.7rem;
      text-align: center;
      width: 100%;
      padding-bottom: 1rem;
    }

    h4 {
      padding-top: 0.5rem;
    }

    p {
      font-size: 1rem;
      font-weight: 350;
      text-align: justify;
      text-indent: 1rem;
      padding: 0.5rem 0;
      line-height: 1.5rem;
    }

    ul {
      padding-top: 0.5rem;
      padding-left: 2rem;
      list-style: disc;

      li {
        font-size: 1rem;
        font-weight: 350;
        line-height: 1.5rem;
        padding-bottom: 0.25rem;
        text-align: justify;
      }
    }

    .items {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 1rem;
      margin-left: 0.5rem;

      .item {
        margin: 0 0.25rem 0.5rem 0;
        padding: 0.25rem 1.25rem;
        border-radius: 25px;
        background-color: color(deep-blue);
        color: color(white);
        font-weight: 500;
      }
    }

    .tenure {
      width: 100%;
      padding-top: 0.5rem;
      margin-bottom: 0.5rem;

      span {
        font-size: 1rem;
        font-weight: 500;
        padding: 0.5rem;

        &:first-of-type {
          padding-left: 1rem;
        }
      }

      hr {
        display: inline-block;
        margin: 0 1rem;
        width: 10%;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.4);
      }
    }
  }
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;

  a {
    color: color(black);
    text-decoration: none;
  }

  .nav-item {
    span {
      font-weight: 600;
    }

    .arrow-front {
      position: relative;
      padding: 0.75rem 0;
    }

    .arrow-front:before {
      content: "";
      width: 25px;
      height: 2px;
      background: color(black);
      position: absolute;
      margin-top: -1px;
      right: 2px;
      transition: all 0.3s ease;
    }

    .arrow-front:hover:before {
      right: 12px;
      width: 35px;
    }

    .arrow-front:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-color: transparent transparent transparent #000000;
      position: absolute;
      margin-top: -5px;
      right: 0;
      transition: all 0.3s ease;
    }

    .arrow-front:hover:after {
      right: 12px;
    }

    .arrow-back {
      position: relative;
      padding: 0.75rem 0;
    }

    .arrow-back:before {
      content: "";
      width: 25px;
      height: 2px;
      background: color(black);
      position: absolute;
      margin-top: -1px;
      left: 2px;
      transition: all 0.3s ease;
    }

    .arrow-back:hover:before {
      cursor: pointer;
      left: 12px;
      width: 35px;
    }

    .arrow-back:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 5px 0;
      border-color: transparent #000000 transparent transparent;
      position: absolute;
      margin-top: -5px;
      left: 0;
      transition: all 0.3s ease;
    }

    .arrow-back:hover:after {
      cursor: pointer;
      left: 12px;
    }
  }
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.img-lg {
  width: 60vw !important;
  height: 45vh !important;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .landing {
    .nav-sm {
      display: none;
    }
    
    .logo {
      .menu-btn {
        display: none;
      }
      .nav-lg {
        display: block;

        ul {
          display: flex;
          justify-content: space-around;
          align-items: center;
          list-style: none;
          
          li {
            padding: 0.25rem 0.75rem;

            a {
              position: relative;
              font-size: 0.9rem;
              font-weight: 600;
              text-decoration: none;
              color: color(white);

              &::after {
                content: '';
                display: block;
                border-bottom: 3px solid color(primary);
                transform: scaleX(0);
                transition: transform .3s ease-in-out;
              }

              &:hover::after {
                transform: scaleX(1);
              }

              &.active {
                border-bottom: 3px solid color(primary);
              }
            }
          }
        }
      }
    }

    .content {
      padding-top: 3rem;

      .line {
        width: 6.3rem;
        border-bottom-width: 5px;
      }

      .name {
        font-size: 4rem;
        padding-top: 3rem;
      }

      .quote {
        font-size: 2.5rem;
      }

      .designation {
        font-size: 2.5rem;
      }
    }
  }
}